.node-start {
  background-color: blue;
}
.node-end {
  background-color: red;
}
.node-wall {  
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.grow-animation {
  animation-name: growBounceAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color: rgb(12, 53, 71);
  }
  50% {
      transform: scale(1.2);
      background-color: rgb(12, 53, 71);
  }
  100% {
      transform: scale(1.0);
      background-color: rgb(12, 53, 71);
  }
}